table{
    width: 100%;
    border-collapse: collapse;
}
table tr{
}
table tr td{}
table tr td:nth-child(2){
	width: 400px;
}
table tr td:nth-child(3){
	width: 200px;
}
table thead{
    background: rgba(218, 218, 218, 0.3);
}
table thead tr{
    height: 50px;
}
table thead tr th{
    font-size: 24px;
    font-weight: normal;
}
table tbody{}
table tbody tr{
    height: 40px;
    border-bottom: 1px solid var(--lightGray);
}
table tbody tr td{
    font-size: 18px;
    text-align: center;
    line-height: 40px;
}
table tbody tr td a{}
table tbody tr td a:hover{
    text-decoration: underline;
}