/* checkAnimal */
#checkAnimal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    width: max-content;
    height: 40px;

}
#checkAnimal div{
	display: flex;
	align-items: center;
}
.animal{
    width: 99px;
    height: 29px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: var(--black);
}
/* checkbox */
input[id="animalAll"], input[id="animalDog"],input[id="animalCat"],input[id="animalElse"]{
    box-sizing: border-box;
    
    width: 15px;
    height: 15px;
    
    background: var(--white);
    border: 1px solid var(--gray);
    border-radius: 5px;
	margin-bottom: 0;
}
.animal, label{
    font-size: 20px;
}
label{
	margin-left: 5px;
}
.meetingDate>*, .title, .content{
    font-size: 20px;
}
.meetingDate, .title, .content{
    margin-bottom: 20px;
}
.meetingDate{
    margin-right: 20px;
}
.title{
    padding: 5px;
    width: 100%;
}
.content{
    width: 100%;
    padding: 10px;
}
.btnBox{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.btn{
    width: 78px;
    height: 50px;
    font-size: 20px;
    background-color: var(--yellow);
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
}