*{
    color: var(--black);
}
#pageTitle{
    font-size: 38px;
    font-weight: 400;
    line-height: 44px;
    width: 100%;
    text-align: center;
    margin-top:20px;
}
#insertContainer{
    width: 100%;
    position: relative;
    margin-top: 50px;
}
/* title */
#title{
    width: 690px;
    height: 35px;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    background: #FFFFFF;
    border: 1px solid var(--gray);
    border-radius: 5px;
}

.fileBtn{
    width: 1200px;
    height: 222px;
    margin-top: 20px;
    /* border-bottom: 1px solid var(--gray); */
    position: relative;
}

#btnGroup{
    width: 182px;
    height: 40px;
    margin: 0px auto;
    /* border: 1px solid black; */
    margin-top: 20px;
    margin-bottom: 140px;

}
#insertBtn, #cancelBtn{
    width: 78px;
    height: 40px;
    background-color: var(--yellow);
    color: var(--black);
    font-size: 20px;
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
}
#cancelBtn{
    float: right;
}
